---
import '../styles/global.css';

import Footer from '../components/Footer.astro'

import Header from '../components/Header.astro';

const pageTitle = "Blog"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>

        <Header/>

        <h1>Mi {pageTitle} de aprendizaje sobre Astro</h1>
    <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.</p>

    <ul>
      <li><a href="/posts/post_1/">Publicación 1</a></li>
      <li><a href="/posts/post_2/">Publicación 2</a></li>
      <li><a href="/posts/post_3/">Publicación 3</a></li>
    </ul>


    <script>
      import "../scripts/menu.js";
    </script>
  
	</body>
</html>
